.sidebar {
  flex: 1;
  // border-right: 2px solid #3b5998;
  min-height: 100vh;
  background-color: #fff;
  .top {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b5998;
    border-right: none;
    .logo {
      font-size: 20px;
      font-weight: bold;
      color: white;
    }
  }
  hr {
    height: 0px;
    border: 0.25px solid rgb(235, 235, 235);
  }
  .center {
    padding-left: 10px;
    border-right: 2px solid rgb(235, 235, 235);
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }
      li {
        display: flex;
        align-items: center;
        padding: 8px;
        cursor: pointer;
        &:hover {
          background-color: lavender;
          .icon {
            color: darkblue;
          }
          span {
            color: black;
          }
        }
        .icon {
          margin-right: 10px;
          font-size: 18px;
          color: #6842f4;
        }
        span {
          font-size: 13px;
          font-weight: 600;
          color: rgb(88, 88, 88);
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;
    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 8px;
      &:nth-child(1) {
        background-color: rgb(49, 47, 47);
      }
      &:nth-child(2) {
        background-color: white;
      }
    }
  }
}
